.navbar-brand {
    margin-right: 0
}

.navbar-nav {
    padding-right: 0
}

.header-info {
    padding-right: 0
}

.header-info li {
    margin-left: 15px;
    margin-right: 0
}

.header-info li:last-child {
    margin-left: 0
}

.navbar-light .navbar-brand {
    margin-left: 10px;
    margin-right: 0
}

.social-links {
    padding-right: 0;
    text-align: left
}

.social-links i {
    margin: 0 5px 0 0
}

.hero-slider-content ul li {
    margin-left: 20px;
    margin-right: 0;
    padding-right: 35px;
    padding-left: 0
}

.text-left {
    text-align: right !important
}

.hero-slider-content ul li i {
    right: 0;
    left: auto
}

.hero-slider-content ul li:last-child {
    margin-left: 0
}

.mr-3, .mx-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important
}

.dropdown-menu {
    right: 0;
    left: auto;
    text-align: right
}

.dropdown-toggle::after {
    margin-right: .255em;
    margin-left: 0
}

.about-section .about-content .about-text {
    padding-right: 35px;
    padding-left: 0
}

.about-section .about-content .about-text i {
    right: 0;
    left: auto
}

.middle-section .middle-content .caption {
    padding-right: 55px;
    padding-left: 0
}

.middle-section .middle-content .mmain {
    right: 25px;
    left: auto
}

.middle-section .middle-content .middle-image {
    left: -20px;
    right: auto
}

.tab-section .tab-style-area .tab_content .tabs_item .tab-inner-content .tab-list {
    padding-right: 0
}

.tab-section .tab-style-area .tab_content .tabs_item .tab-inner-content .tab-list li {
    padding-right: 20px;
    padding-left: 0
}

.tab-section .tab-style-area .tab_content .tabs_item .tab-inner-content .tab-list li::before {
    right: 0;
    left: auto
}

.tab-section .tab-style-area .tab_content .tabs_item .tab-inner-content {
    padding-right: 50px;
    padding-left: 0
}

.tab-section .tabs-work {
    padding-right: 0;
    right: -145px;
    left: auto
}

.property-section .property-content h2 {
    padding-right: 35px;
    padding-left: 0
}

.property-section .property-content i {
    right: 0;
    left: auto
}

.property-section .property-content i::before {
    margin-left: 8px;
    margin-right: 0
}

.agent-text-content .agent-list li {
    margin-left: 15px;
    margin-right: 0
}

.agent-text-content .agent-list li:last-child {
    margin-left: 0
}

.agent-text-content .social_links li {
    margin-left: 5px;
    margin-right: 0
}

.blog-item .blog-list {
    padding-right: 0
}

.blog-item .blog-list li {
    margin-left: 10px;
    margin-right: 0
}

.blog-item .blog-list li:last-child {
    margin-left: 0
}

.footer-section .footer-content h2::before {
    right: 0;
    left: auto
}

.footer-section .menu-item .quick-menu {
    padding-right: 0
}

.footer-section .footer-item .footer-links {
    padding-right: 0
}

.footer-section .footer-item .footer-links i {
    margin: 0 0 0 4px
}

.footer-section .menu-item {
    padding-right: 30px;
    padding-left: 0
}

.footer-section .footer-info .contact-info li {
    padding-right: 28px;
    padding-left: 0
}

.footer-section .footer-info .contact-info li i {
    margin-left: 5px;
    margin-right: 0;
    right: 0;
    left: auto
}

#toTop {
    left: 20px;
    right: auto
}

.mr-2, .mx-2 {
    margin-left: .5rem !important;
    margin-right: 0 !important
}

.page-banner .page-banner-content {
    text-align: right
}

.pagination {
    padding-right: 0
}

.pagination li {
    margin-left: 10px;
    margin-right: 0
}

.widget_search form .btn {
    left: 0;
    right: auto
}

.widget_recent_posts .item .thumb {
    float: right;
    margin-left: 15px;
    margin-right: 0
}

.widget_categories ul li {
    padding-right: 18px;
    padding-left: 0
}

.widget_categories ul li::before {
    right: 0;
    left: auto
}

.blog-details .blog-details-content .blog-list li {
    margin-left: 15px;
    margin-right: 0
}

.blog-details .blog-details-content .blog-list li:last-child {
    margin-left: 0
}

.blog-details .blog-details-content blockquote {
    border-right: 3px solid #25a9e0;
    border-left: none
}

.blog-details .blog-details-content .post-tag-media ul li {
    margin-left: 5px;
    margin-right: 0
}

.comments ul li {
    padding-right: 100px;
    padding-left: 0
}

.comments ul li.ml-50 {
    margin-right: 50px;
    margin-left: 0;
    padding-right: 90px;
    padding-left: 0
}

.comments ul li img {
    right: 0;
    left: auto
}

.contact_info ul.contact_info_list li {
    padding-right: 45px;
    padding-left: 0
}

.contact_info ul.contact_info_list li i {
    right: 0;
    left: auto
}

.contact_with_social li {
    margin-left: 5px;
    margin-right: 0
}

.contact_with_social li:last-child {
    margin-left: 0
}

.tab-section {
    overflow: hidden
}

#accordion .panel-heading .panel-title a {
    padding: 20px 30px 20px 60px
}

#accordion .panel-heading .panel-title a:before, #accordion .panel-heading .panel-title a.collapsed:before {
    left: 30px;
    right: auto
}

#accordion .panel-heading .panel-title a:after, #accordion .panel-heading .panel-title a.collapsed:after {
    left: 39px;
    right: auto
}

@media only screen and (max-width: 767px) {
    .hero-slider-content ul li {
        margin-left: 5px !important;
        margin-right: 0 !important;
        padding-right: 22px !important;
        padding-left: 0 !important
    }

    .tab-section .tab-style-area .tab_content .tabs_item .tab-inner-content {
        padding-right: 0 !important
    }

    .footer-section .menu-item {
        padding-right: 0 !important
    }

    .comments ul li {
        padding-right: 60px !important;
        padding-left: 0 !important
    }

    .comments ul li.ml-50 {
        margin-right: 0 !important
    }

    .tab-section .tabs-work {
        right: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tab-section .tab-style-area .tab_content .tabs_item .tab-inner-content {
        padding-right: 0 !important
    }

    .footer-section .menu-item {
        padding-right: 0 !important
    }

    .tab-section .tab-style-area .tabs-work {
        left: 0 !important;
        right: auto !important
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1824px) {
}
